@page "/previeworder/{POHeaderID:int}"
@layout BlankLayout


@using BlazorPurchaseOrders.Data;
@inject IPOHeaderService POHeaderService
@inject IPOLineService POLineService


<!DOCTYPE html>
<html>
<!-- pagina para ver lso detalles de las ordes de compra-->
<body>
    <div class="invoice-box">
        <table>
            <tr class="addressbar">
                <td class="addressbar-left">
                    <img src="https://blazorcode.uk/media/files/blazorcode_logo_small.png" style="width: 100%; max-width: 300px" />
                </td>

                <td class="addressbar-right">
                    blazorcode.uk<br />
                    5 High Street<br />
                    Trumpington <br />
                    TR4A IRS
                </td>
            </tr>
        </table>
        <br />
        <table>
            <tr class="addressbar">
                <td style="width:50%">
                    @orderHeader.SupplierName<br />
                    @if (!String.IsNullOrEmpty(orderHeader.POHeaderSupplierAddress1))
                    {
                        @orderHeader.POHeaderSupplierAddress1
                    
                        <br />
                    }
                    @if (!String.IsNullOrEmpty(orderHeader.POHeaderSupplierAddress2))
                    {
                        @orderHeader.POHeaderSupplierAddress2
                    
                        <br />
                    }
                    @if (!String.IsNullOrEmpty(orderHeader.POHeaderSupplierAddress3))
                    {
                        @orderHeader.POHeaderSupplierAddress3
                    
                        <br />
                    }
                    @orderHeader.POHeaderSupplierPostCode<br />
                </td>
                <td style="width:15%">
                    Order No<br />
                    Order Date<br />
                    Contact
                </td>
                <td style="width:35%">
                    : @orderHeader.POHeaderOrderNumber<br />
                    : @orderHeader.POHeaderOrderDate.ToShortDateString()<br />
                    : @orderHeader.POHeaderRequestedBy
                </td>
            </tr>
        </table>
        <table>
            <tr class="doctype">
                <td>PURCHASE ORDER</td>
            </tr>
        </table>
        <table>
            <tr class="heading">
                <th>Code</th>
                <th>Description</th>
                <th class="column-right">Quantity</th>
                <th class="column-right">Unit Price</th>
                <th class="column-right">Net Price</th>
                <th class="column-right">Tax Rate</th>
                <th class="column-right">Tax</th>
                <th class="column-right">Total</th>
            </tr>
            <!-- declaracion que recorre los registros en la list OrderLine agregando un fil a la tabla
                para cada linea de orden -->
            @foreach (var orderline in orderLines)
            {
                <tr class="item">
                    <td>@orderline.POLineProductCode</td>
                    <td>@orderline.POLineProductDescription</td>
                    <td class="column-right">@String.Format("{0:N0}", orderline.POLineProductQuantity)</td>
                    <td class="column-right">@String.Format("{0:C2}", orderline.POLineProductUnitPrice)</td>
                    <td class="column-right">@String.Format("{0:C2}", orderline.POLineNetPrice)</td>
                    <td class="column-right">@String.Format("{0:P2}", orderline.POLineTaxRate)</td>
                    <td class="column-right">@String.Format("{0:C2}", orderline.POLineTaxAmount)</td>
                    <td class="column-right">@String.Format("{0:C2}", orderline.POLineGrossPrice)</td>
                </tr>
            }
            <tr class="totals">
                <td></td>
                <td class="column-left">Order Total:</td>
                <td></td>
                <td></td>
                <td>@String.Format("{0:C2}", orderHeader.NetPrice)</td>
                <td></td>
                <td>@String.Format("{0:C2}", orderHeader.Tax)</td>
                <td>@String.Format("{0:C2}", orderHeader.TotalOrderValue)</td>
            </tr>
        </table>

    </div>
</body>
</html>

<style>
    .invoice-box {
        max-width: 900px;
        margin: auto;
        padding: 30px;
        border: 1px solid #eee;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        font-size: 16px;
        line-height: 24px;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color: #555;
    }

        .invoice-box table {
            width: 100%;
            line-height: inherit;
            text-align: left;
        }

    .addressbar {
        vertical-align: top;
    }

    .addressbar-left {
        text-align: left;
    }

    .addressbar-right {
        text-align: right;
        font-weight: bold;
        padding-top: 5px;
    }

    .doctype {
        font-size: 20px;
        line-height: 80px;
        color: #333;
        font-weight: bold;
        text-align: center
    }

    .heading {
        background: #eee;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
    }

    .column-left {
        text-align: left;
    }

    .column-right {
        text-align: right;
    }

    .item {
        border-bottom: 1px solid #eee;
    }

    .totals {
        background: #eee;
        font-weight: bold;
        line-height: 40px;
        text-align: right;
    }
</style>

@code {

    //variables para almacenar las lineas de detalles de la orden
    IEnumerable<POLine> orderLinesByPOHeader;// recupercion de datos
    public List<POLine> orderLines = new List<POLine>();// lista sobre la que se itera

    //varible para almacenar el objeto del encabezado de la orden
    POHeader orderHeader = new POHeader();


    //propiedad que recibe el ID de la URL
    [Parameter]
    public int POHeaderID { get; set; }


    //metodo que se ejecuta cuando se carga en la nueva pestaña
    protected override async Task OnInitializedAsync()//recuperacion de datos
    {
        //llama al servicio para obterner los detalles del encabezado dela orden de la bd
        orderHeader = await POHeaderService.POHeader_GetOne(POHeaderID); 

        //llama al servicio para obtener todas las lineas asociadas con el POHeaderID
        orderLinesByPOHeader = await POLineService.POLine_GetByPOHeader(POHeaderID);
        orderLines = orderLinesByPOHeader.ToList(); //las lineas recuperadas se convierten en una lista 
                                                    //para iterar sobre ellas mas facilmente
                                                                
    }

}
